<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 ">
            <form *ngIf="!loading.role" [formGroup]="loginForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Login to continue
                </span>
                
                
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input formControlName="email" (blur)="onBlurForm('email' , 'email')" class="input100" type="text" name="email" id="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Role is required">
                    <select class="select100" formControlName="role" (blur)="onBlurForm('role' , 'role')" (change)="onBlurForm('role' , 'role')" aria-label="Default select example" id="role">
                        <option *ngFor="let role of ['','Client' , 'Atelier' , 'Caisse']">{{role}}</option>
                    </select> 
                    <span class="focus-input100"></span>
                    <span class="label-input100">Role</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input formControlName="password" (blur)="onBlurForm('password' , 'password')" [type]="hide ? 'password' : 'text'"  class="input100" type="password" name="pass" id="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                    <span class="eye-icon" *ngIf="!hide" (click)="onHidePass(hide)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span class="eye-slash-icon" *ngIf="hide" (click)="onHidePass(hide)"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div class="contact100-form-checkbox">
                        <input formControlName="remember" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>
        

                <div class="container-login100-form-btn">
                    <button (click)="onSubmitForm()" class="login100-form-btn">
                        Login
                    </button>
                </div>
                
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        You don't have a acount ?  
                    </span>
                    <span><a [routerLink]="['/signup']">Signup</a></span>
                </div>
            </form>

            <div class="login100-more" [ngStyle]="{backgroundImage:  'url(assets/images/reparation-voiture.jpg)' }">
            </div>
        </div>
    </div>
</div>