<div class="limiter">
    <div class="container-login100">
        <div class="grand-spin" *ngIf="loading.role">
            <mat-spinner></mat-spinner>
        </div>
        <div class="wrap-login100 " *ngIf="!loading.role">
            <form [formGroup]="loginForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-43">
                    Login to continue
                </span>
                
                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input formControlName="email" (blur)="utils.onBlurForm('email' , 'email' , this.loginForm)" class="input100" type="text" name="email" id="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Role is required">
                    <select class="select100" formControlName="role" (blur)="utils.onBlurForm('role' , 'role' , this.loginForm)" (change)="utils.onBlurForm('role' , 'role' , this.loginForm)" aria-label="Default select example" id="role">
                        <option *ngFor="let role of user_roles">{{role.role}}</option>
                    </select> 
                    <span class="focus-input100"></span>
                    <span class="label-input100">Role</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input formControlName="password" (blur)="utils.onBlurForm('password' , 'password' , this.loginForm)" [type]="hide ? 'password' : 'text'"  class="input100" type="password" name="pass" id="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                    <span class="eye-icon" *ngIf="!hide" (click)="onHidePass(hide)"><i class="fa fa-eye" aria-hidden="true"></i></span>
                    <span class="eye-slash-icon" *ngIf="hide" (click)="onHidePass(hide)"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                </div>

                <div class="container-login100-form-btn">
                    <button *ngIf="!loading.login" (click)="utils.onSubmitForm(this.loginForm , loading)" class="login100-form-btn">
                        Login
                    </button>
                    <button *ngIf="loading.login" type="button" disabled class="login100-form-btn">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
                
                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        You don't have a acount ?  
                    </span>
                    <span><a [routerLink]="['/signup']">Signup</a></span>
                </div>
            </form>

            <div class="login100-more" [ngStyle]="{backgroundImage:  'url(assets/images/car-repair.jpg)' }">
            </div>
        </div>
    </div>
</div>