<div class="row content-reparation">
    <div class="content-head">
        <div class="content-form-search">
            <h2>Liste Payements</h2>
        </div>
    </div>
    <div class="grand-spin" *ngIf="loading.payment">
        <mat-spinner></mat-spinner>
      </div>
    <div class="col-md-12 list-reparation" *ngIf="!loading.payment">
        <div [ngClass]="repair.status==0 ? 'bck-incomplete' : ''" [routerLink]="['/home/invoice/'+repair._id]" class="card mb-3 card-body" *ngFor="let repair of payments">
            <div class="row align-items-center">
                <div class="col-auto">
                    <a href="#!.html">
                      <img src="http://via.placeholder.com/280x280" class="width-90 rounded-3" alt="">
                    </a>
                </div>
                <div class="col">
                    <div class="overflow-hidden flex-nowrap">
                        <div class="head-card">
                            <h6 class="mb-1">
                                <span style="font-weight: 600;">Marque :  </span><a class="text-reset">{{repair.user_car.mark}}</a>
                            </h6>
                            <!-- <h6 class="status-text">
                                <span [class]="repair.status ==0 ? 'text-reset' : '' ">{{getStatusRepair(repair.status)+' ...'}}</span>
                            </h6> -->
                        </div>
                        <div class="other-car-detail">
                            <div class="content-detail">
                                <span class="text-muted d-block mb-2 small">
                                    <span style="font-weight: 600;">Model : </span> {{repair.user_car.model}}
                                </span>
                                <span class="text-muted d-block mb-2 small">
                                    <span style="font-weight: 600;">Année de fabrication : </span> {{repair.user_car.year_of_manufacture}}
                                </span>
                            </div>
                            <!-- <div class="btn-recupere">
                                <a [routerLink]="['/home/inovice/'+repair._id]">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </a>
                                <button class="btn btn-sm" [disabled]="repair.status == 0">Recuperé</button>
                            </div> -->
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="row align-items-center g-0">
                                    <div class="col-auto avancement-text">
                                        <span class="small" style="font-weight: 600;">Avancement : </span><small class="me-2">{{repair.advancement}}%</small>
                                    </div>
                                    <div class="col">

                                        <!-- Progress bar -->
                                        <div class="progress bg-tint-success" style="height: 4px;">
                                            <div class="progress-bar bg-success" role="progressbar" [style]="{'width': repair.advancement+'%'}" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-paginator *ngIf="metadata"
            [length]="metadata.total"
            [pageSize]="dataPayment.nbBypage"
            [pageSizeOptions]="[5, 10]"
            (page)="onPageChange($event)"
            aria-label="Select page">
    </mat-paginator>
</div>