<div>
  <div class="head-car">
    <h2 class="title-h2">Liste de mes voitures</h2>
    <div class="content-form-search">
      <form [formGroup]="formSearch">
        <div class="search-form">
          <div class="select-search separate mb-3">
            <label for="filtre">Filtre</label>
            <select formControlName="filter">
              <option *ngFor="let head of headsTab;"  [value]="head.value" >{{head.name}}</option>
            </select>
          </div>
          <div class="input-search separate mb-3" *ngIf="!formSearch.value['filter']?.includes('creat') && !formSearch.value['filter']?.includes('update')">
            <label for="filtre">Text</label>
            <input type="text" formControlName="text" >
            <i><span class="fa fa-search"></span></i>
          </div>
          <div class="input-date separate mb-3" formArrayName="dates" *ngIf="formSearch.value['filter']?.includes('creat') ||formSearch.value['filter']?.includes('update')">
            <label for="filtre">Date</label>
            <div [formGroupName]="0" *ngFor="let date of dates.controls">
              <input  #start (focus)="start.type='date'" type="text" formControlName="start"/>
              <input #end type="text" (focus)="end.type='date'" formControlName="end"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="scroll-data" >
    <table class="table table-responsive-md table-hover tab-scroll" >
      <thead>
        <tr>
          <th scope="col">Marque</th>
          <th scope="col">Modele</th>
          <th scope="col">Année de fabrication</th>
          <th scope="col">Date de création</th>
          <th scope="col">Date de modification</th>
          <th scope="col" colspan="3" >Action</th>
        </tr>
      </thead>
      <tbody *ngIf="!loading.user_cars">
        <tr *ngFor="let car of data.user_cars.data">
          <td>{{car.mark}}</td>
          <td>{{car.model}}</td>
          <td>{{car.year_of_manufacture}}</td>
          <td>{{car.create_at | date | lowercase}}</td>
          <td>{{car.update_at | date | lowercase}}</td>
          <td>
            <button class="btn btn-sm btn-outline-success" (click)="onDepotCar(car)">Deposer</button>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-info" [routerLink]="['/home/info-car/'+car._id]">Info</button>
          </td>
          <td>
            <button *ngIf="!loading.delete" (click)="openDialodg(car._id)" class="btn btn-sm btn-outline-danger">Supprimer</button>
            <button *ngIf="loading.delete" disabled class="btn btn-sm btn-outline-danger">
              <span class="spinner-border spinner-border-sm mt-1" role="status" aria-hidden="true"></span>
               Loading...
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="grand-spin" *ngIf="loading.user_cars">
      <!-- <div class="spinner-border" role="status"></div> -->
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="footer-tab">
    <button class="btn btn-group-sm btn-primary mt-3" (click)="scrollTo('collapsepassvalid')" data-bs-toggle="collapse" href="#collapsepassvalid" aria-label="Example icon button with a menu icon" aria-expanded="false" aria-controls="collapsepassvalid">
      Ajouter une voiture
    </button>
    <mat-paginator *ngIf="metadata" 
                [length]="metadata.total"
                [pageSize]="dataCar.nbBypage"
                [pageSizeOptions]="[5, 10]"
                (page)="onPageChange($event)"
                aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="collapse pb-3" id="collapsepassvalid">
    <div class="add-car row">
      <h3>Ajout de voiture</h3>
      <app-form-car *ngIf="!loading.cars" [loading]="loading.add_car" typeForm="addCar" [cars]="data.cars" (onSelected)="onAddCar($event)"></app-form-car>
      <div class="grand-spin" *ngIf="loading.user_cars">
        <div class="spinner-border" role="status"></div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

