<div class="content-receive">
  <div class="scroll-data" >
    <table class="table table-responsive-md table-hover tab-scroll" >
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Date</th>
          <th scope="col">Voiture</th>
          <th scope="col">Modèle</th>
          <th scope="col">Déscription</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repair of repairs">
          <td>{{repair.user_car.user_id}}</td>
          <td>{{repair.create_at}}</td>
          <td>{{repair.user_car.mark}}</td>
          <td>{{repair.user_car.model}}</td>
          <td>{{repair.comment}}</td>
          <td><button type="button" (click)="navigateToInvoice(repair.user_car.user_id,repair._id)" class="btn btn-outline-success btn-sm">Facture</button></td>
        </tr>
      </tbody>
    </table>
</div>