    
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a [routerLink]="['home']" class="logo">M.</a></h1>
    <ul class="list-unstyled components mb-5">
      <li *ngFor="let link of linkApp">
        <a [routerLink]="[link.routeLink]"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" ><span [class]="link.icon"></span>{{link.name}}</a>
      </li>
      <li>
        <a [routerLink]="['receiveCar']"><span class="fa fa-paper-plane"></span> Réception</a>
      </li>
      <li>
        <a style="cursor: pointer;" (click)="LogOut()"><span class="fa fa-sign-out" ></span>Sign Out</a>
      </li> 
    </ul>
    
    <div class="footer">
        <p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is develloped <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.ituniversity-mg.com/page/news/rentree-de-la-promo-12-b-le-23-nov-a-9h30/" target="_blank">Tomboanjara Claudio</a> </p>
    </div>
    </nav>
    
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
    
        <button type="button" id="sidebarCollapse" class="btn btn-dark">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" *ngFor="let link of linkApp">
                <a class="nav-link" [routerLink]="[link.routeLink]"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <div class="content-user">
            <div class="grand-spin" *ngIf="loading.cookie">
              <mat-spinner></mat-spinner>
            </div>
            <router-outlet *ngIf="!loading.cookie"></router-outlet>
        </div>
    </div>
</div>


