<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#" ><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                    <a href="#" ><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                    <a href="#" ><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                    <a href="#" ><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Page 1</a></li>
            <li class="list-inline-item"><a href="#">Page 2</a></li>
            <li class="list-inline-item"><a href="#">Page 3</a></li>
            <li class="list-inline-item"><a href="#">Page 4</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
    </footer>
</div>