.content-chart-line{
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 20px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
}

.title-head{
    font-size: 22px;
    font-weight: 600;
    color: rgba(31, 30, 30, 0.847);
}

.chart-line{
    padding: 10px;
    height: 275px;
}

.row{
    margin: 0;
}

hr{
    border: 1px solid rgba(29, 28, 28, 0.477) ;
    border-radius: 5px;
    margin: 4px 0;
}

.head-chart{
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

.form-repair{
    display: flex;
}

.content-filter{
    display: flex;
    align-items: center;
}

.content-simulat{
    margin-top: 50px;
}

.content-simulat .chart-line{
    height: 320px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.form-simul{
    width: 340px ;
}

.content-form-simul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-form-simul h5{
    font-size: 17px;
    font-weight: 500;
}

.input-simule{
    display: flex;
    justify-content: space-between;
}

.input-simule input{
    width: 80%;
}

.content-add{
    padding: 20px 14px;
}

.alert{

    position: relative;
}

.list-depenses{
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.depense::before{
    content: "";
	height:60%;
    width: 2px;
	position: absolute;
	background: #2e75aa;
	top: 10px;
    border-radius: 8px;
}

.depense h5{
    font-size: 14px;
}
