/* body{margin-top:20px;
    background:#eee;
    } */
    
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        border-radius: 20px !important;
    }

    
    
    .width-90 {
        width: 90px!important;
    }
    .rounded-3 {
        border-radius: 0.5rem !important;
    }
    
    a {
    text-decoration:none;    
    }

    .content-reparation{

    }

    .list-reparation{
        margin-top: 20px;
    }

    .head-card{
        display: flex;
        justify-content: space-between;
    }

    .status-text {
        font-size: inherit;
        color: rgba(0, 195, 255, 0.925);
    }

    .avancement-text{
        display: flex;
        justify-content: space-between;
        width: 146px;
        padding-right: 0;
    }

    .other-car-detail{
        display: flex;
        justify-content: space-between;
    }

    .btn-recupere{
        display: flex;
        align-items: center;
    }

    .btn-recupere button{
        background-color: #3d3e40;
        color: white;
    }

